.pass {
	background-color: #AFA;
}

a.fail,.fail {
	background-color: #FFCBD0;
}

.meta {
	color: #BF8660;
	font-style: italic;
}

.collapse_rim {
	border-color: #BF8660;
	border-top-color: #BF8660;
	border-right-color: #BF8660;
	border-bottom-color: #BF8660;
	border-left-color: #BF8660;
}

div.collapsable {
	margin: 0px 0px 0px 15px;
	display: block;
}

div.collapsable-contents {
	margin: 0px 0px 0px 15px;
	display: block;
}

.hidden {
	display: none;
}